version: 2
jobs:
  install-dependencies:
    docker:
      - image: circleci/node:11.9

    working_directory: ~/repo

    steps:
      - checkout

      # download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ .Environment.CIRCLE_BRANCH }}-{{ checksum "package.json" }}
            - v1-dependencies-{{ .Environment.CIRCLE_BRANCH }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run: npm install

      - save_cache:
          key: v1-dependencies-{{ .Environment.CIRCLE_BRANCH }}-{{ checksum "package.json" }}
          paths:
            - node_modules

      - persist_to_workspace:
          root: .
          paths:
            - node_modules

  build:
    docker:
      - image: circleci/node:11.9

    working_directory: ~/repo

    steps:
      - checkout

      - attach_workspace:
          at: .

      - run: npm run build

      - persist_to_workspace:
          root: .
          paths:
            - build

  unit-test:
    docker:
      - image: circleci/node:11.9

    working_directory: ~/repo

    steps:
      - checkout

      - attach_workspace:
          at: .

      - run: CI=true npm test

  create-deploy-config:
    machine: true

    working_directory: ~/repo

    steps:
      - checkout

      - run: ./deploy/create-deploy-config.sh

      - persist_to_workspace:
          root: .
          paths:
            - config

  docker-publish:
    machine: true

    working_directory: ~/repo

    steps:
      - checkout

      - attach_workspace:
          at: .

      - run: ./deploy/build-push-image.sh

  deploy:
    docker:
      - image: google/cloud-sdk

    working_directory: ~/repo

    steps:
      - checkout

      - run: ./deploy/deploy.sh

workflows:
  version: 2
  build-and-deploy:
    jobs:
      - install-dependencies
      - build:
          requires:
            - install-dependencies
      - unit-test:
          requires:
            - install-dependencies
      - create-deploy-config:
          requires:
            - install-dependencies
      - docker-publish:
          context: forgestatus
          requires:
            - build
            - unit-test
      - deploy:
          context: forgestatus
          requires:
            - create-deploy-config
            - docker-publish
