version: 2
jobs:
  install-dependencies:
    docker:
      - image: circleci/node:11.9

    working_directory: ~/repo

    steps:
      - checkout

      # download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ .Environment.CIRCLE_BRANCH }}-{{ checksum "package.json" }}
            - v1-dependencies-{{ .Environment.CIRCLE_BRANCH }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run: npm install

      - save_cache:
          key: v1-dependencies-{{ .Environment.CIRCLE_BRANCH }}-{{ checksum "package.json" }}
          paths:
            - node_modules

      - persist_to_workspace:
          root: .
          paths:
            - node_modules

  build:
    docker:
      - image: circleci/node:11.9

    working_directory: ~/repo

    steps:
      - checkout

      - attach_workspace:
          at: .

      - run: npm run build

      - persist_to_workspace:
          root: .
          paths:
            - build

  unit-test:
    docker:
      - image: circleci/node:11.9

    working_directory: ~/repo

    steps:
      - checkout

      - attach_workspace:
          at: .

      - run: CI=true npm test

  docker-publish:
    machine: true

    working_directory: ~/repo

    steps:
      - checkout

      - attach_workspace:
          at: .

      - run: gcloud config set project forgestatus

      - run: echo ${GCP_SERVICE_ACCOUNT} > gcp-service-account.json

      - run: gcloud auth activate-service-account --key-file gcp-service-account.json

      - run: gcloud docker -- build -t gcr.io/forgestatus/${CIRCLE_PROJECT_REPONAME}:${CIRCLE_SHA1} -f Dockerfile .

      - run:
          command: |
            gcloud docker -- push gcr.io/forgestatus/${CIRCLE_PROJECT_REPONAME}:${CIRCLE_SHA1}

            if [ ${CIRCLE_BRANCH} = 'master' ]; then
              gcloud container images add-tag gcr.io/forgestatus/${CIRCLE_PROJECT_REPONAME}:${CIRCLE_SHA1} \
                gcr.io/forgestatus/${CIRCLE_PROJECT_REPONAME}:latest
            else
              gcloud container images add-tag gcr.io/forgestatus/${CIRCLE_PROJECT_REPONAME}:${CIRCLE_SHA1} \
                gcr.io/forgestatus/${CIRCLE_PROJECT_REPONAME}:${CIRCLE_SHA1}-pr-`echo ${CIRCLE_PULL_REQUEST} | grep -om1 '[0-9]\+$'`
            fi

            gcloud container images add-tag gcr.io/forgestatus/${CIRCLE_PROJECT_REPONAME}:${CIRCLE_SHA1} \
              gcr.io/forgestatus/${CIRCLE_PROJECT_REPONAME}:${CIRCLE_SHA1}-branch-`echo ${CIRCLE_BRANCH} | sed -e 's/[^a-zA-Z0-9\-]/-/g'`

  deploy:
    machine: true

    working_directory: ~/repo

    steps:
      - checkout

      - attach_workspace:
          at: .

      - run: ./deploy/deploy.sh

workflows:
  version: 2
  build-and-deploy:
    jobs:
      - install-dependencies
      - build:
          requires:
            - install-dependencies
      - unit-test:
          requires:
            - install-dependencies
      - docker-publish:
          context: forgestatus
          requires:
            - build
            - unit-test
      - deploy:
          context: forgestatus
          requires:
            - docker-publish
